
/*Cuerpo*/
.posicionamiento {
    border-bottom-left-radius: 3px;
    margin-left: 10%;
    float: left;
    background-color: rgba(177, 59, 69, 0.404);
    padding-bottom: 3%;
    padding-top: 1%;
    width: 80%
}
.cont {
    color:rgb(221, 165, 169);
}
.titulo{
    padding-left:5%
}
hr {
    width: 80%;
    text-align: left;
}
#formulario .posicion {
    margin-left: 5%;
    margin-right: 5%
}
.datos {
    float: left;
    width: 48%
}
.tituloDatos {
    margin-top: 5%;
}
.txtDatos {
    width: 50%;
    float: left
}
.lblCampo {
    width: 40%;
    float: left
}

.datAcceso {
    float: right;
    width: 50%

}
.datDivision {
    padding-top: 7%
}
.botonRegistro {
    width: 90%;
    float: left;
    
}
